In [ ]:
# Fayruz Kibria
# February 18, 2021
# Cardiotocograohy data

In [ ]:
#!conda list

In [ ]:
#pip uninstall -y pandas-profiling

In [ ]:
#pip install pandas-profiling==2.10.0

In [1]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [2]:
# Import dataset
mydata0 = pd.read_csv("df8.csv")
mydata=mydata0.copy()

# View the first few rows of the data
mydata.head()

,LB,ASTV,MSTV,ALTV,MLTV,Width,Min,Max,Nmax,Nzeros,...,C,D,E,AD,DE,LD,FS,SUSP,CLASS,NSP
0,0.259259,0.813333,0.044118,0.472527,0.047337,0.344633,0.110092,0.034483,0.111111,0.0,...,0,0,0,0,0,0,1,0,9,2
1,0.481481,0.066667,0.279412,0.000000,0.205128,0.717514,0.165138,0.655172,0.333333,0.1,...,0,0,0,1,0,0,0,0,6,1
2,0.500000,0.053333,0.279412,0.000000,0.264300,0.717514,0.165138,0.655172,0.277778,0.1,...,0,0,0,1,0,0,0,0,6,1
3,0.518519,0.053333,0.323529,0.000000,0.453649,0.644068,0.027523,0.413793,0.611111,0.0,...,0,0,0,1,0,0,0,0,6,1
4,0.481481,0.053333,0.323529,0.000000,0.392505,0.644068,0.027523,0.413793,0.500000,0.0,...,0,0,0,0,0,0,0,0,2,1

In [3]:
profile = ProfileReport(mydata)

In [4]:
profile.to_file("cardioto_profile_FK.html")

Summarize dataset:   0%|          | 0/46 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]